/* src/pages/CSSforSignup.css */

.signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}

.signup-form {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Increased width to accommodate side-by-side fields */
}

.back-home-btn {
  background-color: #5AC45A;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
}

.back-home-btn:hover {
  background-color: #4ea84b;
}
